@import './colors';

body {
  margin: 0;
  background: map_get($colors, black);
  color: map_get($colors, lightgray);
  font-family: Roboto , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.app {
  max-width: 1920px;
  margin: 0 auto;

  &__main {
    display: flex;
    max-width: 1216px;
    margin: 46px auto 158px;
    flex-direction: column;

    @media (max-width: 768px) {
      margin: 8px auto;
    }
  }
}
