@import '../../styles/colors';

.gallery {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 8px;
  grid-auto-columns: 8px;
  margin-top: 90px;
  overflow: hidden;

  &_hidden {
    visibility: hidden;
  }

  @media (max-width: 1480px) {
    margin: 32px auto;
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: scroll;
  }

  &__gallery-item {
    position: relative;
    width: fit-content;
    height: fit-content;

    @media (max-width: 480px) {
      margin: 0 auto;
      padding: 0 20px;
    }

    &-image {
      &:hover, &_sold {
        opacity: 0.5;
      }
    }

    &-info {
      position: absolute;
      opacity: 0;
      top: 0;
      bottom: 5px;
      width: 100%;
      transition: .5s ease;

      @media (max-width: 480px) {
        width: calc(100% - 40px);
      }

      &-wrap {
        padding: 13px 23px 23px;
      }

      &:hover {
        opacity: 1;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
      }

      &_sold:hover {
        background: none;
      }

      &-title, &-details {
        margin: 4px 0;
        line-height: 150%;
      }
    }

    &-buy {
      position: absolute;
      bottom: 23px;
      display: flex;
      justify-content: space-between;
      width: 100%;

      &-price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_order {
          visibility: hidden;
        }

        &-prev {
          text-decoration: line-through;
          opacity: 0.66;
        }

        &-current {
          font-weight: bold;
        }

        &-prev, &-current {
          line-height: 150%;
        }
      }

      &-button {
        border: 1px solid map_get($colors, lightgray);
        color: map_get($colors, lightgray);
        background: none;
        font-weight: bold;
        line-height: 150%;
        padding: 0 32px;
        height: 43px;
        float: right;
        margin-right: 61px;
        cursor: pointer;

        &_order {
          background: map_get($colors, lightgray) !important;
          color: map_get($colors, black);
          display: flex;
          align-items: center;
          align-self: flex-end;
        }

        &:hover {
          background: map_get($colors, btnHover);
        }

        &-text {
          white-space: nowrap;
          padding-right: 11px;
        }
      }
    }

    &-auc {
      display: flex;
      position: absolute;
      bottom: 23px;

      * {
        align-self: center;
      }
    }
  }
}